@font-face {
  font-family: 'Cairo';
  src: url('/fonts/cairo/Cairo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    background: rgb(250, 250, 250);
}

:root {
    --main-font: 'Cairo', sans-serif;
}

* {
    font-family: var(--main-font);
}

* {
    margin: 0;
    padding: 0;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}